
TPCAI2021/obj/Debug/TPCAI2021.csproj.CoreCompileInputs.cache
TPCAI2021/.vs/TPCAI2021/v16/.suo
TPCAI2021/obj/Debug/TPCAI2021.csproj.FileListAbsolute.txt
TPCAI2021/obj/Debug/TPCAI2021.csprojAssemblyReference.cache
TPCAI2021/bin/Debug/TPCAI2021.exe
TPCAI2021/.vs/TPCAI2021/v16/.suo
TPCAI2021/bin/Debug/TPCAI2021.pdb
TPCAI2021/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPCAI2021/obj/Debug/TPCAI2021.csproj.CoreCompileInputs.cache
TPCAI2021/obj/Debug/TPCAI2021.csproj.FileListAbsolute.txt
TPCAI2021/obj/Debug/TPCAI2021.csprojAssemblyReference.cache
TPCAI2021/obj/Debug/TPCAI2021.exe
TPCAI2021/obj/Debug/TPCAI2021.pdb
