
TPCAI2021/obj/Debug/TPCAI2021.csproj.CoreCompileInputs.cache
TPCAI2021/.vs/TPCAI2021/v16/.suo
TPCAI2021/obj/Debug/TPCAI2021.csproj.FileListAbsolute.txt
TPCAI2021/obj/Debug/TPCAI2021.csprojAssemblyReference.cache
